/**
 * @file 布局相关
 * @author treelite(c.xinle@gmail.com)
 */

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.display-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.box-1 {
    background: #E1EEF7;
    .border-radius(3px);
    padding: 10px;
}

.footer {
    padding: 10px 0;
    text-align: center;
    color: #CCC;
}

.footer a {
    color: #CCC;
}

/*top条，左侧定宽，右侧自适应的常用布局*/

/*故意设置了背景颜色 需要自己重载掉*/
.layout-common-header {
    top: 0;
    height: 50px;
    position: relative;
    z-index: 1;
    min-width: 1265px;
    overflow: hidden;
    background: #ccc;
}

.layout-common-header .logo {
    background: url("img/banner_logo.gif") no-repeat;
    float: left;
    height: 50px;
    width: 310px;
}
/*右侧的文本和内容*/
.layout-common-header .header-opt {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    position: absolute;
    right: 0;
    height: 50px;
    z-index: 1;
}
.layout-common-header .header-block {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 65536;
    height: 29px;
    position: relative;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0);
}

/*下拉menu 用来切换岗位*/
.layout-common-header .drop-down-menu {
    float: left;
    margin-top: 20px;
    margin-right: 0;
    z-index: 65536;
    height: 29px;
    position: relative;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0);
     
}

.layout-common-header .drop-down-menu-list {
    background-color: #FFF;
    position: absolute;
    color: #455973;
    right: -1px;
    top: 29px;
    border: 1px solid #A8ADB6;
    border-right: 1px solid #A8ADB6;
}
.layout-common-header .drop-down-menu-item {
    text-align: right;
    position: relative;
    background: #FFF;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #455973;
    white-space: nowrap;
}

.layout-common-sidebar {
    background: #EFF2F8;
    width: 210px;
    z-index: 1;
    position: absolute;
    border-right: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    z-index: 0;
    bottom: 0;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.layout-common-main {
    min-width: 1050px;
    position: absolute;
    top: 50px;
    left: 215px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.nav-bar-closed, .nav-bar-opened {
    position: absolute;
    background-color: #EFF2F9;
    top: 50px;
    left: 0;
    width: 19px;
    bottom: 0;
    border-right: solid 1px #C4CCDF;
    cursor: pointer;
}

.nav-bar-closed {
   display: block; 
}
.nav-bar-opened {
   display: none; 
}

/*arrow的合并*/

.nav-bar-closed .expand-icon , .nav-bar-opened .expand-icon {
    margin-top: 15px;
    margin-left: 3px;
    display: block;
    width: 12px;
    height: 11px;
  
}


.layout-common-sidebar .shrink-icon {
    border:solid 1px transparent;
    height:23px;
    width:27px;
    position:absolute;
    right:6px;
    top:8px
}
.layout-common-sidebar .shrink-icon:hover {
    border:solid 1px #ddd;
    background-color:#fefefe;
    border-radius:3px
}
.layout-common-sidebar .shrink-icon:active {
    border: solid 1px #999;
    background-color: #eee
}
.layout-common-sidebar .shrink-icon .node-icon {
    width: 12px;
    height: 11px;
    background-position: 0 -44px;top:6px;left:6px
}

.layout-common-sidebar .node-home {
    height:41px;
    background-color:#eaeaea;
    color: #000;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    line-height: 41px;
    cursor: pointer;
    position:relative;
}
.layout-common-sidebar .common-node {
    font-style:normal;
    text-align:left;
    cursor:pointer;
    position:relative;
    *zoom:1;
}
.layout-common-sidebar .node-1{
    height:41px;
    background-color:#eff2f8;
    color:#000;
    font-size:14px;
    font-weight:bold;
    line-height:41px;
    border-bottom:solid 1px #ccc;
    padding-left:28px;
}
.layout-common-sidebar .node-2 {
    height:32px;
    background-color:#faf9f9;
    color:#000;
    line-height:32px;
    display:block;
    font-size:12px;
    padding-left:38px;
    border-bottom:0;
}
.layout-common-sidebar .node-3 {
    height:32px;
    background-color:#faf9f9;
    color:#000;
    text-align:left;
    line-height:32px;
    display:block;
    font-size:12px;
    padding-left:51px;
    border-bottom:0
}
.layout-common-sidebar .node-1-text, .node-2-text, .node-2-text {
    font-family:"microsoft yahei";
}
.layout-common-sidebar .node-1-nowat {
    background-color:#cdd6ec;
}
.layout-common-sidebar .node-2-nowat {
    font-weight:bold;
}
.layout-common-sidebar .node-3-nowat {
    background-color:#687a91;
    color:#fff;
}
.layout-common-sidebar .node-2-con {
    border-bottom:solid 1px #ccc;
}
.layout-common-sidebar .node-icon {
    width:9px;
    height:9px;
    display:block;
    position:absolute;
    top:15px;
    background-image:url(img/work_icons.png);
}
.layout-common-sidebar .node-1.node-closed>.node-icon {
    background-position:0 -9px;
    left:9px;
}

.layout-common-sidebar .node-1.node-open>.node-icon {
    background-position:0 -18px;
    left:9px;
}
.layout-common-sidebar .node-2.node-closed>.node-icon {
    background-position:0 -27px;
    top:10px;
    left:20px;
}
.layout-common-sidebar .node-2.node-opened>.node-icon {
    background-position:0 -36px;
    top:10px;
    left:20px
}

/*对于ifram提取*/
.layout-common-iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    min-width: 1030px;
}















