/**
 * @file 通用函数
 * @auth treelite(c.xinle@gmail.com)
 */

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

// size settings
.size(@size) {
    width: @size;
    height: @size;
}
.size(@wdith, @height) {
    width: @wdith;
    height: @height;
}
//
// text overflow
// 
// Known issue:
// 指定参数（行数）的功能只支持WebKit。

.text-overflow(...) {
    overflow: hidden;
}
.text-overflow() {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-overflow(@line-number) {
    display: -webkit-box;
    -webkit-line-clamp: @line-number;
    -webkit-box-orient: vertical;  
}

//
// hide text (to apply something like image replacement)
//

.hide-text() {
    white-space: nowrap;
    text-indent: -9999px;
    overflow: hidden;
}


