/**
 * @file 基本标签定义
 * @auth treelite(c.xinle@gmail.com)
 */

body {
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    font-family: @baseFontFamily;
}
/*bold something*/
.lead {
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  font-weight: 200;
  line-height: @baseLineHeight * 1.5;
}

.strong, .bold {
    font-weight: bold;    
}

h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
}

h1 {
    font-size: @baseFontSize * 1.5;
}

h2 {
    font-size: @baseFontSize * 1.3;
}

h3 {
    font-size: @baseFontSize * 1.1;
}
